<ion-header class="navigation" [translucent]="true">
  <ion-toolbar class="custom-toolbar">
    <ion-title class="custom-title">
      CURRENT VIEW PAGE
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="content">
  <div id="container">
    <div class="questionmark">
      <a (click)="openWelcomeModal()"><img [src]="image1" alt="chaticon"></a>
    </div>
  </div>

  <!-- Add modals here -->
  <ion-modal [isOpen]="isWelcomeModalOpen" (didDismiss)="closeWelcomeModal()">
    <ng-template>
      <app-welcome></app-welcome>
    </ng-template>
  </ion-modal>

  <ion-modal [isOpen]="isChatModalOpen" (didDismiss)="closeChatModal()">
    <ng-template>
      <app-chat></app-chat>
    </ng-template>
  </ion-modal>
</ion-content>
